@model IEnumerable<POCAcademicSystemUI.Models.EnrollmentDetails>

@{
    ViewBag.Title = "ListGrades";
    Layout = "~/Views/Shared/_Faculdade.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Consultar Notas
            <small>Verifique abaixo suas notas</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Layout</a></li>
            <li class="active">Fixed</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment.Grade)
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                @if (item.Enrollment.Grade != null)
                {
                    @Html.DisplayFor(modelItem => item.Enrollment.Grade)
                }
                else
                {
                    <span>n/a</span>
                }
            </td>

        </tr>
    }

    </table>
        
    </section>
    <!-- /.content -->
</div>


